html,body{
	height:100%;
	margin:0;
}

body.dark{
	background: linear-gradient(#869991,#060428);
}

body.light{
	background: #fff;
}

#message{
	color:#ccc;
	&.error{
		color:red;
	}

	&.right{
		color:green;
	}
}
#wrap{
	max-width: 540px;
	margin:0 auto;
}
.head{
	height:200px;
	padding:30px 0 0 0;
	text-align: center;
	box-sizing:border-box;
	color:#4995D8;
	.avatar{
		display: inline-block;
		width:100px;
		height:100px;
		border-radius:50%;
		background: linear-gradient(#B7CBE9,#46C5FF);
	}
}
